// styl
.messageBoard-component {
}

// Page is loadding also check out body.uninitialized .messageBoard-component
#__PELLET__.loading_and_uninitialized .messageBoard-component {
  //visibility hidden
}
