div(class='vevo-web-layout')
  header
    div(class='content')
      a(class='vevo-logo', href='/')
        span(class='down-arrow')
      div(class='nav-menu')
        ul
          li(class='browse')
            a(href='/') BROWSE
          li(class='shows')
            a(href='https://github.com/Rebelizer/pellet-meetup-demo') GitHub
  include index-content
  footer
    div(class='content')
      ul(class='company-col')
        li
          a(href='/apps') Apps
        li
          a(href='/vevo-tv') VEVO TV
        li
          a(href='/c/news') News
        li
          a(target='_blank', rel='nofollow', href='/careers') Careers
        li
          a(target='_blank', rel='nofollow', href='http://vevo.uservoice.com') Help Center
      ul(class='share-col')
        li
          a(rel='nofollow', href='http://www.facebook.com/VEVO') Facebook
        li
          a(rel='nofollow', href='http://twitter.com/vevo') Twitter
        li
          a(rel='nofollow', href='http://www.youtube.com/vevo') YouTube
        li
          a(rel='nofollow', href='http://instagram.com/vevo') Instagram
        li
          a(rel='nofollow', href='http://pinterest.com/vevomusic/') Pinterest
        li
          a(rel='nofollow', href='http://vevo.tumblr.com/') Tumblr
      ul(class='legal-col')
        li
          a(rel='nofollow', href='/legal/terms-conditions') Terms & Conditions
        li
          a(rel='nofollow', href='/legal/privacy-policy') Privacy Policy
        li
          a(href='/legal/eula/general') EULA
        li
          a(rel='nofollow', href='/legal/cookie-policy') Cookie Policy
      div(class='copyright') © 2014 Foobar, All Rights Reserved
