<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Page Not Found &middot; Pellet</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <style>
          body {
            color: #444;
            text-align: center;
            font-family: Arial, Helvetica, sans-serif;
            background: url(/img/cartoon-clouds.jpg);
            background-size: 30%;
          }
          #shoes {
            position:absolute;
            text-align:center;
            top:55px;
            width:100%;
            z-index:3;
            text-shadow: 0 1px 1px #FFF;
            min-height: 700px;
            background: url(/img/shoes_hanging.png) no-repeat 50% 120px;
          }
          h1 {
            font-size: 140px;
            line-height: 0;
          }
          h2 {
            font-size: 28px;
          }
        </style>

    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div id="shoes">
          <h1>404</h1>
          <h2>It has gone missing: Sad</h2>
        </div>

        <!-- Google Analytics: change <%- ((config && config.googleTrackID) || 'UA-XXXXXX-X') %> to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','<%- ((config && config.googleTrackID) || 'UA-XXXXXX-X') %>');ga('send','pageview');
            <% if(options.gaSyntheticPageUrl) { %>
            ga('send', 'pageview', '/<%- (options && options.gaSyntheticPageUrl) || '_track' %>/404?url=' + window.location.pathname + window.location.search + '&refer=' + document.referrer);
            <% } else { %>
            ga('send', 'pageview');
            <% } %>
        </script>
    </body>
</html>
